*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
    height: 500px;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 300%;

    animation: cambiover 15s infinite;
    animation-direction:alternate ;
    animation-timing-function: ease-in-out;
}
.slider li{
    width: 100%;
    list-style: none;

}

.slider img{
    width: 100%;
}

@keyframes cambiover{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}


}



.slider1{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider1 ul{
    display: flex;
    padding: 0;
    width: 5%%;

    animation: alternate 20s infinite;
}
.slider1 li{
    width: 100%;
    list-style: none;

}

.slider1 img{
    width: 100%;
}




